{% extends "base.html" %}

{% block title %}Posts{% endblock title %}

{% block content %}
    {% if tag %}
        <center><h2><em>#{{ tag.name }}</em></h2></center>
    {% endif %}

    {% for post in posts %}
        <img class="rounded-circle" src="{{ post.user.profile.image.url }}" width=20 height=20>
        <a href="{% url 'profile' username=post.user %}"><strong>@{{ post.user }}</strong></a>
         - <small><em>{{ post.created }}</em></small>

        <a href="{{ post.get_absolute_url }}"> 
            <img src="{{ post.image.url }}" width=400 height=400>
        </a>
        
        <p>
            <!-- Tag -->
            {% for tag in post.tags.all %}
                <a href="{% url 'post_list_by_tag' tag.slug %}">
                    <small><em>#{{ tag.name }}</em></small>
                </a>
                {% if not forloop.last %}<tab>&nbsp;</tab>{% endif %}
            {% endfor %}
            <br/>
            <!-------->

            <strong>@{{ post.user }}</strong>: {{ post.description }} 
            <br/>
        </p>
        <hr/>
        {% empty %}
            <center><h2>There are no posts yet.</h2></center>
            {% if user.is_authenticated%}
                <br/>
                <center><strong>
                    Start publishing a 
                    <a href="{% url 'new_post' %}">
                        Post
                    </a>
                </strong></center>
            {% endif %}
    {% endfor %}
{% endblock %}